
body
  background #fff
  color #444
  font 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  /* Fix for webkit rendering */
  -webkit-font-smoothing antialiased 
  -webkit-text-size-adjust 100%


hr
  border solid #ddd
  border-width 1px 0 0
  clear both
  height 0
  margin 10px 0 30px

img.scale-with-grid
  height auto
  max-width 100%
