
blockquote
  border-left 1px solid #ddd
  color #777
  font-size 17px
  font-style italic
  line-height 24px
  margin 0 0 20px
  padding 9px 20px 0 19px

  cite
    color #555
    display block
    font-size 12px

    a,
    a:visited
      color #555

    &:before
      content: "\2014 \0020"

blockquote
  p
    color #777
    font-style italic
    font-size 17px
    line-height 24px
