column_names16 = one two three four five six seven eight nine ten eleven twelve thirteen fourteen fithteen sixteen
column_names15 = one two three four five six seven eight nine ten eleven twelve thirteen fourteen fithteen 

mixin_container_columns(start, inc)
  .one.column
    width start px

  for name, i in column_names16 
    .{name}.cols
      width start + i * inc px
  for name, i in column_names15 
    .off{name}
      padding-left inc + i * inc px

.ct
  margin 0 auto
  padding 0
  position relative
  width 960px

  .col,
  .cols
    display inline
    float left
    margin-left 10px
    margin-right 10px

    &.alpha
      margin-left 0
    &.omega
      margin-right 0
  
  mixin_container_columns(40, 60)

  .one-third.col
    width 300px
  .two-third.col
    width 620px

.row
  margin-bottom 20px



// #Tablet (Portrait), width 768px

@media only screen and (min-width: 768px) and (max-width: 959px)
  .ct
    width 768px

    .col,
    .cols
      margin-left 10px
      margin-right 10px

      &.alpha
        margin-right 10px
      &.omega
        margin-right 10px

    .alpha-omega
      margin-left 0
      margin-right 0

    mixin_container_columns(28, 48)
  

//  #Mobile (Portrait), width 320px

@media only screen and (max-width: 767px)
  .ct
    width 300px

    .col,
    .cols
      margin 0

    .one.col
    .one.cols
    .two.cols
    .three.cols
    .four.cols
    .five.cols
    .six.cols
    .seven.cols
    .eight.cols
    .nine.cols
    .ten.cols
    .eleven.cols
    .twelve.cols
    .thirteen.cols
    .fourteen.cols
    .fithteen.cols
    .sixteen.cols
    .one-third.col
    .two-third.col
      width 300px

    .offone
    .offtwo
    .offthree
    .offfour
    .offfive
    .offsix
    .offseven
    .offeight
    .offnine
    .offten
    .offeleven
    .offtwelve
    .offthirteen
    .offfourteen
    .offfithteen
      padding-left 0


//#Mobile (Landscape), width 480px
@media only screen and (min-width: 480px) and (max-width: 767px)
  .ct
    width 300px

    .col,
    .cols
      margin 0
    
    
    .one.col,
    .one.cols,
    .two.cols,
    .three.cols,
    .four.cols,
    .five.cols,
    .six.cols,
    .seven.cols,
    .eight.cols,
    .nine.cols,
    .ten.cols,
    .eleven.cols,
    .twelve.cols,
    .thirteen.cols,
    .fourteen.cols,
    .fithteen.cols,
    .sixteen.cols,
    .one-third.col,
    .two-third.col
      width 420px



// clearing

.ct:after
.clear
  clear both
  display block
  height 0
  visibility hidden

.ct:after
  content "\0020"
  visibility hidden 

.clear
  overflow hidden
  width 0

.clearfix
.row
  zoom 1

  &:before
  &:after
    content "\0020"
    display block
    height 0
    overflow hidden
    visibility hidden
    width 0

  &:after
    clear both

