
font-color = #444
color-outline = #3a3a3a

color-darkgrey = #525252
color-grey = #eee
color-red = #C01C41
color-green = #60B01D
color-blue = #2C89E6
color-lila = #5234B0
color-orange = #E25422

color-darkgrey-hover = darken(color-darkgrey, 8%)
color-grey-hover = darken(color-grey, 8%) // #dcdcdc
color-red-hover = lighten(color-red, 8%)
color-green-hover = lighten(color-green, 8%)
color-blue-hover = lighten(color-blue, 8%)
color-lila-hover = lighten(color-lila, 8%)
color-orange-hover = lighten(color-orange, 8%)
