h1,
h2,
h3,
h4,
h5,
h6
  font-family 'open sans', arial, sans-serif
  font-weight 200
  margin 10px 0
  padding 0

h1
  font-size 36px
  line-height 40px

  &:hover
    color #444

h2
  font-size 26px
  line-height 28px

h3
  font-size 20px
  line-height 24px

h4
  font-size 12px
  font-weight 600
  line-height 14px

h5
  font-size 11px
  font-weight 600
  line-height 14px

h6
  font-size 11px
  font-weight 600
  line-height 14px

