@import 'nib'
@import 'skeleton-colors'



mixin_btn_color(name, col, colh, fcol = no)
  .btn-{name}
      background-color col
      //background-image linear-gradient(top, col, col)

      if fcol is no
        color #fff
      else
        color fcol

      text-shadow 0 1px 0 rgba(0, 0, 0, 0.25)

      &:hover
        background-color colh
        //background-image linear-gradient(top, colh, colh)


.btn
  background-color color-grey
  //background-image linear-gradient(top, color-grey, color-grey)
  background-repeat repeat-x
  background-clip padding
  border none
  cursor pointer
  color #333
  display inline-block
  font-family "open sans", arial, sans-serif // check if needed
  font-size 14px
  line-height 32px
  min-width 42px
  margin 10px 0 0 0
  outline none
  overflow visible
  padding 5px 10px
  position relative

  text-shadow 0 1px 0 #fff
  text-align center
  text-decoration none

  vertical-align inherit
  white-space nowrap
  zoom 1
  z-index 1
  *display inline

  &:active,
  &.active,
  &:focus,
  &:hover
    background-color color-grey-hover
    //background-image linear-gradient(top, color-grey-hover, color-grey-hover)
    background-repeat repeat-x
    outline none
    z-index 100

  &:active,
  &.active
    background-color color-grey
    //background-image linear-gradient(top, color-grey, color-grey-hover)
    box-shadow inset 0 1px 8px rgba(0, 0, 0, 0.25) // todo check filter: for ie

  &:focus
    border-color #4d90fe
  &::-moz-focus-inner
    padding 0
    border 0


mixin_btn_color('red', color-red, color-red-hover)
mixin_btn_color('green', color-green, color-green-hover)
mixin_btn_color('blue', color-blue, color-blue-hover)
mixin_btn_color('lila', color-lila, color-lila-hover)
mixin_btn_color('orange', color-orange, color-orange-hover)

.btn-small
  font-size 12px
  line-height 18px
  padding 4px 8px

.btn-big
  font-size 18px
  line-height 42px
  padding 10px 15px
