!!! 5
html(lang="en)
  head
    title Registration form template
    meta(name="author", content="Andreas Mairhofer")
    meta(name="author", content="Dave Gamache")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="stylesheet", href="../builds/style.css")
    link(rel="shortcut icon", href="images/favicon.ico")

    link(rel="apple-touch-icon", sizes="57x57", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body  
    div.container
      div.row.clearfix
        h1 Custom registration form
        p This example will show the form handling of Skeletion-stylus. 
        | It is easy to generate nice looking forms with out any troubles and still be flexible.
      
      div.row
        div.two-third.columns
          form
            label(for="name") Fullname
            input(type="text", id="name", name="name", autofocus="true", autocompletion="false")

            label(for="username") Username
            input(type="text", id="username", name="username", autocompletion="false")
            p Please choose a username as a login name. We will check if the choosen username is available.

            label(for="email") E-Mail address
            input(type="text", id="email", name="email", autocompletion="false")
            p Please provide a valid e-mail address, as we will send you a confirmation link to your registration
            | to this address to active your account.


            label(for="country")
              select(id="country", name="country")
                option(value="us") United States of America
                option(value="ca") Canada
                option(value="de") Germany
                option(value="es") Spain
                option(value="fr") France
            

            fieldset
              legend Check your favorite sports

              label(for="running") 
                input(type="checkbox", id="running", name="sports[]", value="running")
                span Running

              label(for="mountainbike") 
                input(type="checkbox", id="mountainbike", name="sports[]", value="mountainbike")
                span Mountain Bike

              label(for="climbing") 
                input(type="checkbox", id="climbing", name="sports[]", value="climbing")
                span Climbing

              label(for="swim") 
                input(type="checkbox", id="swim", name="sports[]", value="swimming")
                span Swimming

          
          input(type="submit", name="register_submit") Register now!
