/**
 Skeleton Stylus version 0.1
  by Andreas Mairhofer 2012

 Fork of Dave Gamache Skeleton work
  www.getskeleton.com
 Licensed unter the MIT License 
   http://www.opensource.org/licenses/mit-license.php

*/
body {
  background: #fff;
  color: #444;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
/* Fix for webkit rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px;
}
img.scale-with-grid {
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 17px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
.subheader {
  color: #777;
}
p {
  margin: 0 0 20px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333;
}
small {
  font-size: 80%;
}
blockquote {
  border-left: 1px solid #ddd;
  color: #777;
  font-size: 17px;
  font-style: italic;
  line-height: 24px;
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
}
blockquote cite {
  color: #555;
  display: block;
  font-size: 12px;
}
blockquote cite a,
blockquote cite a:visited {
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote p {
  color: #777;
  font-style: italic;
  font-size: 17px;
  line-height: 24px;
}
a,
a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
}
p a,
p a:visited {
  line-height: inherit;
}
ul,
ol {
  margin-bottom: 20px;
}
ul {
  list-style: none outside;
}
ul.square,
ul.circle,
ul.disc {
  list-style-position: outside;
  margin-left: 30px;
}
ul.square {
  list-style-type: square;
}
ul.circle {
  list-style-type: circle;
}
ul.disc {
  list-style-type: disc;
}
ul.large li {
  line-height: 21px;
}
ol {
  list-style: decimal;
  margin-left: 30px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  font-size: 90%;
  margin: 4px 0 5px 30px;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 6px;
}
li {
  line-height: 18px;
  margin-bottom: 12px;
}
li p {
  line-height: 21px;
}
.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  background: #eee;
  background: linear-gradient(top, rgba(255,255,255,0.2), rgba(0,0,0,0.2));
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.75);
}
.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  color: #222;
  background: #ddd;
  background: linear-gradient(top, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
  border: 1px solid #888;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
.button:active,
button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {
  border: 1px solid #666;
  background: #ccc;
  background: linear-gradient(top, rgba(255,255,255,0.35), rgba(10,10,10,0.4));
}
.button.full-width,
button.full-width,
input[type=submit].full-width,
input[type=reset].full-width,
input[type=button].full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100%;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
form {
  margin-bottom: 20px;
}
form fieldset {
  margin-bottom: 20px;
}
form input[type=text],
form input[type=password],
form input[type=email],
form textarea,
form select {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  display: block;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 20px;
  max-width: 100%;
  padding: 6px 4px;
  width: 210px;
}
form input[type=text]:focus,
form input[type=password]:focus,
form input[type=email]:focus,
form textarea:focus,
form select:focus {
  border: 1px solid #aaa;
  color: #444;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
form input[type=checkbox] {
  display: inline;
}
form label,
form legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}
form label span,
form legend span {
  color: #444;
  font-weight: normal;
  font-size: 13px;
}
form select {
  padding: 0;
  width: 220px;
}
form textarea {
  min-height: 60px;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 10px !important;
}
.add-bottom {
  margin-bottom: 20px !important;
}
.ct {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
}
.ct .col,
.ct .cols {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.ct .col.alpha,
.ct .cols.alpha {
  margin-left: 0;
}
.ct .col.omega,
.ct .cols.omega {
  margin-right: 0;
}
.ct .one.column {
  width: 40px;
}
.ct .one.cols {
  width: 40px;
}
.ct .two.cols {
  width: 100px;
}
.ct .three.cols {
  width: 160px;
}
.ct .four.cols {
  width: 220px;
}
.ct .five.cols {
  width: 280px;
}
.ct .six.cols {
  width: 340px;
}
.ct .seven.cols {
  width: 400px;
}
.ct .eight.cols {
  width: 460px;
}
.ct .nine.cols {
  width: 520px;
}
.ct .ten.cols {
  width: 580px;
}
.ct .eleven.cols {
  width: 640px;
}
.ct .twelve.cols {
  width: 700px;
}
.ct .thirteen.cols {
  width: 760px;
}
.ct .fourteen.cols {
  width: 820px;
}
.ct .fithteen.cols {
  width: 880px;
}
.ct .sixteen.cols {
  width: 940px;
}
.ct .offone {
  padding-left: 60px;
}
.ct .offtwo {
  padding-left: 120px;
}
.ct .offthree {
  padding-left: 180px;
}
.ct .offfour {
  padding-left: 240px;
}
.ct .offfive {
  padding-left: 300px;
}
.ct .offsix {
  padding-left: 360px;
}
.ct .offseven {
  padding-left: 420px;
}
.ct .offeight {
  padding-left: 480px;
}
.ct .offnine {
  padding-left: 540px;
}
.ct .offten {
  padding-left: 600px;
}
.ct .offeleven {
  padding-left: 660px;
}
.ct .offtwelve {
  padding-left: 720px;
}
.ct .offthirteen {
  padding-left: 780px;
}
.ct .offfourteen {
  padding-left: 840px;
}
.ct .offfithteen {
  padding-left: 900px;
}
.ct .one-third.col {
  width: 300px;
}
.ct .two-third.col {
  width: 620px;
}
.row {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .ct {
    width: 768px;
  }
  .ct .col,
  .ct .cols {
    margin-left: 10px;
    margin-right: 10px;
  }
  .ct .col.alpha,
  .ct .cols.alpha {
    margin-right: 10px;
  }
  .ct .col.omega,
  .ct .cols.omega {
    margin-right: 10px;
  }
  .ct .alpha-omega {
    margin-left: 0;
    margin-right: 0;
  }
  .ct .one.column {
    width: 28px;
  }
  .ct .one.cols {
    width: 28px;
  }
  .ct .two.cols {
    width: 76px;
  }
  .ct .three.cols {
    width: 124px;
  }
  .ct .four.cols {
    width: 172px;
  }
  .ct .five.cols {
    width: 220px;
  }
  .ct .six.cols {
    width: 268px;
  }
  .ct .seven.cols {
    width: 316px;
  }
  .ct .eight.cols {
    width: 364px;
  }
  .ct .nine.cols {
    width: 412px;
  }
  .ct .ten.cols {
    width: 460px;
  }
  .ct .eleven.cols {
    width: 508px;
  }
  .ct .twelve.cols {
    width: 556px;
  }
  .ct .thirteen.cols {
    width: 604px;
  }
  .ct .fourteen.cols {
    width: 652px;
  }
  .ct .fithteen.cols {
    width: 700px;
  }
  .ct .sixteen.cols {
    width: 748px;
  }
  .ct .offone {
    padding-left: 48px;
  }
  .ct .offtwo {
    padding-left: 96px;
  }
  .ct .offthree {
    padding-left: 144px;
  }
  .ct .offfour {
    padding-left: 192px;
  }
  .ct .offfive {
    padding-left: 240px;
  }
  .ct .offsix {
    padding-left: 288px;
  }
  .ct .offseven {
    padding-left: 336px;
  }
  .ct .offeight {
    padding-left: 384px;
  }
  .ct .offnine {
    padding-left: 432px;
  }
  .ct .offten {
    padding-left: 480px;
  }
  .ct .offeleven {
    padding-left: 528px;
  }
  .ct .offtwelve {
    padding-left: 576px;
  }
  .ct .offthirteen {
    padding-left: 624px;
  }
  .ct .offfourteen {
    padding-left: 672px;
  }
  .ct .offfithteen {
    padding-left: 720px;
  }
}
@media only screen and (max-width: 767px) {
  .ct {
    width: 300px;
  }
  .ct .col,
  .ct .cols {
    margin: 0;
  }
  .ct .one.col,
  .ct .one.cols,
  .ct .two.cols,
  .ct .three.cols,
  .ct .four.cols,
  .ct .five.cols,
  .ct .six.cols,
  .ct .seven.cols,
  .ct .eight.cols,
  .ct .nine.cols,
  .ct .ten.cols,
  .ct .eleven.cols,
  .ct .twelve.cols,
  .ct .thirteen.cols,
  .ct .fourteen.cols,
  .ct .fithteen.cols,
  .ct .sixteen.cols,
  .ct .one-third.col,
  .ct .two-third.col {
    width: 300px;
  }
  .ct .offone,
  .ct .offtwo,
  .ct .offthree,
  .ct .offfour,
  .ct .offfive,
  .ct .offsix,
  .ct .offseven,
  .ct .offeight,
  .ct .offnine,
  .ct .offten,
  .ct .offeleven,
  .ct .offtwelve,
  .ct .offthirteen,
  .ct .offfourteen,
  .ct .offfithteen {
    padding-left: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ct {
    width: 300px;
  }
  .ct .col,
  .ct .cols {
    margin: 0;
  }
  .ct .one.col,
  .ct .one.cols,
  .ct .two.cols,
  .ct .three.cols,
  .ct .four.cols,
  .ct .five.cols,
  .ct .six.cols,
  .ct .seven.cols,
  .ct .eight.cols,
  .ct .nine.cols,
  .ct .ten.cols,
  .ct .eleven.cols,
  .ct .twelve.cols,
  .ct .thirteen.cols,
  .ct .fourteen.cols,
  .ct .fithteen.cols,
  .ct .sixteen.cols,
  .ct .one-third.col,
  .ct .two-third.col {
    width: 420px;
  }
}
.ct:after,
.clear {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.ct:after {
  content: "\0020";
  visibility: hidden;
}
.clear {
  overflow: hidden;
  width: 0;
}
.clearfix,
.row {
  zoom: 1;
}
.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after,
.row:after {
  clear: both;
}
@media only screen and (max-width: 959px) {
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}
